@use "base";
.checkout-item {
  margin: 1rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: base.$color-one;
  padding: 1rem;
  border-radius: 1rem;

  img {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 1rem;
  }
  div {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-weight: bolder;
      margin-left: 1rem;
    }
    .btn {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: 25%;
      button {
        background-color: tomato;
        border-radius: 1rem;
      }
    }
  }

  @include base.laptop {
    max-width: 614.39px;
  }
}
