@use "base";

.not-adopted {
  display: flex;
  flex-direction: column;
  align-items: center;

  .loader {
    height: 50vh;
    max-width: 70vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: base.$color-two;
    font-size: 20px;
    animation: loader 800ms alternate infinite;

    @keyframes loader {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100%;
      }
    }
  }

  @include base.tablet {
    .loader {
      font-size: 24px;
    }
  }
}
