@use "base";

.dog-container {
  background-color: base.$color-one;
  margin: 1rem;
  width: 80vw;
  img {
    width: 100%;
    // max-height: 80%;
    object-fit: cover;
  }
  p {
    margin: 1rem;
  }
  button {
    margin: 1rem {
      top: 0rem;
    }
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bolder;
  }
  @include base.tablet {
    // background-color: greenyellow;
    width: 26vw;
  }
  @include base.laptop {
  }
  @include base.desktop {
    max-width: 332.53px;
  }
}
